html, body {
  /*font-family: Arial, Helvetica, sans-serif;*/
  width: 100%;
  height: 100%;
}

.navbar {
  margin-bottom: 0;
}

.nonmapcontent {
  margin-top: 10px;
}

.messages {
  bottom: 50px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 30;
}

.alert {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

#map {
  height: 95%;
  width: 100%;
  position: fixed;
  z-index: 10;
}
.mapsearch {
  position: absolute;
  top: 10px;
  left: 55px;
  z-index: 20;
  opacity: 0.9;
  max-width: 90%;
}

.mapbutton-zoom {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20;
}

.mapbutton-location {
  position: absolute;
  top: 120px;
  left: 10px;
  z-index: 20;
}

.mapbutton-traffic {
  position: absolute;
  top: 180px;
  left: 10px;
  z-index: 20;
}

.mapbutton-kmlexport {
  position: absolute;
  top: 55px;
  right: 10px;
  z-index: 20;
}

.mapbutton-offlinecache {
  position: absolute;
  top: 115px;
  right: 10px;
  z-index: 20;
}

.map-cacheprogress {
  position: absolute;
  width: 50px;
  top: 175px;
  right: 10px;
  z-index: 20;
}

.mapbutton-timer {
  position: absolute;
  top: 50px;
  left: 70px;
  z-index: 20;
}

.map-currenttime {
  font-size: x-large; /* 18px;*/
  font-weight: bold;
  text-shadow: -1px 0px #FFFFFF, 1px 0px #FFFFFF, 0px -1px #FFFFFF, 0px 1px #FFFFFF;
  color: #000000;
}

.map-stoptime {
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
  text-shadow: -1px 0px #FFFFFF, 1px 0px #FFFFFF, 0px -1px #FFFFFF, 0px 1px #FFFFFF;
  color: #555555;
}

.map-timer {
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
  text-shadow: -1px 0px #FFFFFF, 1px 0px #FFFFFF, 0px -1px #FFFFFF, 0px 1px #FFFFFF;
  color: #FF0000;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.table-nonfluid {
  width: auto !important;
}

.ui-sortable tr
{
  cursor: pointer;
}

.waypoint-entry {
  padding: 5px
}

.waypoint-entry:nth-child(odd) {
  background-color: lightgrey; /*#ffffff;*/
}

.waypoint-entry:nth-child(even) {
  background-color: #f1f1f1;
}

.ol-touch .kml-export {
  top: 80px;
}

.ol-overlaycontainer, .ol-overlaycontainer-stopevent, .ol-overlay-container {
  width: inherit;
}

.ol-popup-feature {
}

.ol-popup-weather {
  width: 600px;
  max-width: 95%;
}

.ol-popup-traffic {
  width: 500px;
  max-width: 95%;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "X";
}

.ol-attribution {
  text-align: left;
}

.ol-attribution ul {
  font-size: 1.2rem;
}

.ol-attribution li {
  display: block;
}

.airspace-container {
  position: absolute;
}

.airspace-overlay {
  height: 50px;
  width: 75px;
  border-style: solid;
  text-align: center;
  font-weight: bold;
}

.airspace-overlay-blue {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(23, 128, 194, 0.9);
  color: rgba(23, 128, 194, 1.0);
}

.airspace-overlay-red {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(174, 30, 34, 0.9);
  color: rgba(174, 30, 34, 1.0);
}

.airspace-overlay-heighttext-normal {
  font-style: normal;
}

.airspace-overlay-heighttext-agl {
  font-style: italic;
}

.airspace-class {
  position: absolute;
  left: -10px;
  top: 13px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  padding-left: 4px;
  padding-right: 4px;
}

.airspace-class-red {
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(174, 30, 34, 1.0);
}

.airspace-class-blue {
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(23, 128, 194, 1.0);
}

.airspace-name {
  position: absolute;
  left: 80px;
  top: 13px;
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
  font-size: larger;
  padding-left: 4px;
  padding-right: 4px;
}

.airspace-name-red {
  color: rgba(174, 30, 34, 1.0);
  background-color: rgba(255, 255, 255, 0.8);
}

.airspace-name-blue {
  color: rgba(23, 128, 194, 1.0);
  background-color: rgba(255, 255, 255, 0.8);
}
