/.idea
/charts
/data_import/.htaccess
/data_import/geonames
/data_import/geonames_codes
/data_import/lfr_ch
/data_import/openaip_airports*
/data_import/openaip_airspace*
/data_import/openaip_navaids*
/data_import/vfrm_charts_pdf*
/php/config_orig.php
/v2/
/php/fpdf_BAK/
/terraintiles/
/secrets/
/tmp/
/php/notamretriever_faa/tmp/
/php/notamretriever_faa/start_downloader
