<!DOCTYPE html>
<html lang="de" ng-app="navplanApp" ng-controller="navplanCtrl">
<head>
	<title>NAV-Flightplan</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href = "http://openlayers.org/en/v3.9.0/css/ol.css">
	<link href="http://allfont.net/allfont.css?fonts=arial-narrow" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href = "css/navplan.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
	<!--<script src="http://openlayers.org/en/v3.8.2/build/ol.js"></script>-->
	<script src="http://openlayers.org/en/v3.9.0/build/ol-debug.js"></script>
	<script src="navplanHelper.js"></script>
	<script src="navplanApp.js"></script>
	<script src="navplanCtrl.js"></script>
	<script src="map/mapCtrl.js"></script>
	<script src="map/mapService.js"></script>
	<script src="map/geonameService.js"></script>
	<script src="map/userWaypointService.js"></script>
	<script src="waypoints/waypointCtrl.js"></script>
	<script src="waypoints/waypointService.js"></script>
	<script src="fuel/fuelCtrl.js"></script>
	<script src="fuel/fuelService.js"></script>
	<script src="aircraft/aircraftCtrl.js"></script>
	<script src="settings/settingsCtrl.js"></script>
	<script src="login/loginCtrl.js"></script>
	<script src="login/userService.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">NAV-FLIGHTPLAN</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li><a href="#/map">Map</a></li>
					<li><a href="#/waypoints">Waypoints</a></li>
					<li><a href="#/aircraft">Aircraft</a></li>
					<li><a href="#/fuel">Fuel</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-hide="isLoggedIn()"><a href="#/login">Login</a></li>
					<li ng-show="isLoggedIn()"><a href="#/map" ng-click="onLogoutClicked()">Logout</a></li>
					<li><a href="#/settings">Settings</a></li>
					<li><a href="#/about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- content -->
	<div ng-view></div>
	<!-- disclaimer -->
	<div class="modal fade" id="disclaimerDialog" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="disclaimerModalLabel">Disclaimer</h4>
				</div>
				<div class="modal-body">
					<p>The information contained on this website is for informational purposes only. <b>Do not use for actual navigation!</b></p>
					<p>The data used on this website could be outdated, inaccurate, or contain errors. Always use up-to-date official sources for your flight planning.</p>
				</div>
				<div class="modal-footer">
					<input type="checkbox" ng-model="hideDisclaimer">Don't show this message again
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="onDisclaimerOKClicked()">I agree</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
