<div class="container nonmapcontent">
	<div class="form-horizontal">
		<div class="form-group">
			<label for="variation" class="control-label col-sm-3">Magnetic Variation (&deg; W-, E+)</label>
			<div class="col-sm-2">
				<input type="text" id="variation" class="form-control" ng-model="globalData.settings.variation">
			</div>
		</div>
		<div class="form-group">
			<label for="maxTrafficAltitudeFt" class="control-label col-sm-3">Max. Traffic Altitute (ft AMSL)</label>
			<div class="col-sm-2">
				<input type="text" id="maxTrafficAltitudeFt" class="form-control" ng-model="globalData.settings.maxTrafficAltitudeFt">
			</div>
		</div>
		<div class="form-group">
			<label for="reserveTime" class="control-label col-sm-3">Reserve Time (min)</label>
			<div class="col-sm-2">
				<input type="text" id="reserveTime" class="form-control" ng-model="globalData.fuel.reserveTime" ng-change="convertReserveTimeToInteger()">
			</div>
		</div>
	</div>
	<div ng-show="isSelf(globalData.user.email)"><!-- internal use only -->
		Click History (internal use only):<br />
		<textarea class="form-control">{{ getClickHistoryString() }}</textarea><br />
        Route as Polygon:<br />
        <textarea class="form-control">{{ getRoutePolygonString() }}</textarea>
	</div>
</div>