<div class="container nonmapcontent">
	<div class="form-horizontal">
		<h3>Global Settings</h3>
		<div class="form-group">
			<label for="variation" class="control-label col-sm-3">Magnetic Variation (&deg; W-, E+)</label>
			<div class="col-sm-2">
				<input type="text" id="variation" class="form-control" ng-model="globalData.settings.variation">
			</div>
		</div>
		<div class="form-group">
			<label for="maxTrafficAltitudeFt" class="control-label col-sm-3">Max. Traffic Altitute (ft AMSL)</label>
			<div class="col-sm-2">
				<input type="text" id="maxTrafficAltitudeFt" class="form-control" ng-model="globalData.settings.maxTrafficAltitudeFt">
			</div>
		</div>
		<div class="form-group">
			<label for="reserveTime" class="control-label col-sm-3">Reserve Time (min)</label>
			<div class="col-sm-2">
				<input type="text" id="reserveTime" class="form-control" ng-model="globalData.fuel.reserveTime" ng-change="convertReserveTimeToInteger()">
			</div>
		</div>
	</div>
	<div class="form-horizontal">
		<h3>Altitude Profile Settings</h3>
		<div class="form-group">
			<label for="serviceCeiling" class="control-label col-sm-3">Service Ceiling (ft AMSL)</label>
			<div class="col-sm-2">
				<input type="text" id="serviceCeiling" class="form-control" ng-model="globalData.aircraft.serviceCeilingFt">
			</div>
		</div>
		<div class="form-group">
			<label for="rocSeaLevel" class="control-label col-sm-3">Rate of Climb at Sea Level (ft per min)</label>
			<div class="col-sm-2">
				<input type="text" id="rocSeaLevel" class="form-control" ng-model="globalData.aircraft.rocSeaLevelFpm">
			</div>
		</div>
		<div class="form-group">
			<label for="rod" class="control-label col-sm-3">Rate of Descent (ft per min)</label>
			<div class="col-sm-2">
				<input type="text" id="rod" class="form-control" ng-model="globalData.aircraft.rodFpm">
			</div>
		</div>
		<div class="form-group">
			<label for="climbSpeed" class="control-label col-sm-3">Climb Speed (kt)</label>
			<div class="col-sm-2">
				<input type="text" id="climbSpeed" class="form-control" ng-model="globalData.aircraft.climbSpeedKt">
			</div>
		</div>
	</div>
	<div ng-show="isSelf(globalData.user.email)"><!-- internal use only -->
		<h3>Internal Use Only</h3>
		Click History:<br />
		<textarea class="form-control">{{ getClickHistoryString() }}</textarea><br />
        Route as Polygon:<br />
        <textarea class="form-control">{{ getRoutePolygonString() }}</textarea>
	</div>
</div>