<div class="container">
	<h3>User Settings</h3>
	<form name="editUserForm" class="form-horizontal">
		<div class="form-group">
			<label for="email" class="col-sm-3">E-Mail</label>
			<div class="col-sm-6">{{ globalData.user.email }}</div>
		</div>
		<div class="form-group">
			<label for="old_password" class="col-sm-3">Current Passwort</label>
			<div class="col-sm-6">
				<input type="password" id="old_password" class="form-control" ng-model="oldpassword" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<label for="new_password" class="col-sm-3">New Passwort</label>
			<div class="col-sm-6">
				<input type="password" id="new_password" class="form-control" ng-model="newpassword" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<span class="col-sm-3">&nbsp;</span>
			<div class="col-sm-6">
				<button type="submit" class="btn btn-primary" ng-click="onChangePwClicked()" ng-disabled="editUserForm.$invalid">Change Password</button>
				<button type="submit" class="btn btn-warning pull-right" ng-click="onLogoffClicked()">Log Off</button>
			</div>
		</div>
	</form>
</div>