<!-- aircraft -->
<div id="aircraft" class="form-horizontal">
	<div class="form-group">
		<label for="pilot_name" class="col-sm-2">Pilot</label>
		<div class="col-sm-6">
			<input type="text" id="pilot_name" class="form-control" ng-model="globalData.pilot.name">
		</div>
	</div>
	<div class="form-group">
		<label for="aircraft_id" class="col-sm-2">Aircraft ID</label>
		<div class="col-sm-6">
			<input type="text" id="aircraft_id" class="form-control" ng-model="globalData.aircraft.id">
		</div>
	</div>
	<div class="form-group">
		<label for="aircraft_speed" class="col-sm-2">Ground Speed</label>
		<div class="col-sm-2">
			<input type="text" id="aircraft_speed" class="form-control" ng-model="globalData.aircraft.speed" placeholder="kt" maxlength="3" size="3">
		</div>
		<label for="aircraft_consumption" class="col-sm-2">Fuel Consumption</label>
		<div class="col-sm-2">
			<input type="text" id="aircraft_consumption" class="form-control" ng-model="globalData.aircraft.consumption" placeholder="l/h" maxlength="2" size="2">
		</div>
	</div>
</div>
