<div class="container-fluid">
	<div class="row">
		<div class="input-group">
			<input id="searchWpInput" type="text" class="form-control" placeholder="Enter Waypoint" ng-model="globalData.selectedWaypoint.checkpoint"
				typeahead="geoname.name for geoname in searchGeonamesByValue($viewValue)" typeahead-min-length="2"
				typeahead-on-select="onGeonameSelect($item)"
				ng-blur="updateTrack()" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-success" ng-click="onGeonameAdd(); focusSearchWpInput();"><i class="glyphicon glyphicon-plus"></i></button>
			</span>
		</div>
	</div>
</div>
<div id="map"></div>
