<div class="container-fluid">
	<div class="row">
		<div class="input-group">
			<input id="searchWpInput" type="text" class="form-control" placeholder="Enter Waypoint or Coordinates" ng-model="globalData.selectedWaypoint.checkpoint"
				typeahead="geoname.name for geoname in searchGeonamesByValue($viewValue)" typeahead-min-length="2"
				typeahead-on-select="onGeonameSelect($item)"
				ng-blur="updateTrack()" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-success" ng-click="onGeonameAdd(); focusSearchWpInput();"><i class="glyphicon glyphicon-plus"></i></button>
			</span>
		</div>
	</div>
</div>
<!-- waypoint details -->
<div class="modal fade" id="selectedWaypointDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Waypoint</h4>
			</div>
			<div class="modal-body">
				Type: 
				<select class="form-control" ng-model="selectedWp.type">
					<option value="user">User Waypoint</option>
					<option value="report">Reporting Point</option>
				</select>
				Name: <input type="text" class="form-control" ng-model="selectedWp.checkpoint" />
				Latitude: <input type="text" class="form-control" ng-model="selectedWp.latitude" />
				Longitude: <input type="text" class="form-control" ng-model="selectedWp.longitude" />
				<input type="checkbox" ng-model="saveUserWp">Save as User Waypoint
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="onWpOkClicked()">OK</button>
			</div>
		</div>
	</div>
</div>
<!-- map -->
<div id="map"></div>
