<!-- search bar -->
<div class="container mapsearch">
	<div class="input-group">
		<input id="searchWpInput" type="text" class="form-control" placeholder="search for AD, navaid, city, coordinates or click on map" ng-model="globalData.navplan.selectedWaypoint.checkpoint"
			   uib-typeahead="geoname.name for geoname in onSearchGeonamesByName($viewValue)" typeahead-min-length="2"
			   typeahead-on-select="onGeonameSelect($item)"
			   ng-blur="updateTrack()" />
		<span class="input-group-btn">
			<button type="button" class="btn btn-primary" ng-click="onGeonameSearch();"><i class="glyphicon glyphicon-search"></i></button>
		</span>
	</div>
</div>
<!-- location button -->
<div class="mapbutton-location">
    <button type="button" class="btn btn-circle btn-lg" ng-class="{ 'btn-primary' : globalData.locationStatus == 'off', 'btn-success' : globalData.locationStatus == 'current', 'btn-warning' : globalData.locationStatus == 'waiting', 'btn-danger' : globalData.locationStatus == 'error' }" ng-class="{ 'active': globalData.showLocation }" ng-click="onLocationClicked();" title="start/stop tracking own position"><i class="fa fa-location-arrow"></i></button>
</div>
<!-- traffic button -->
<div class="mapbutton-traffic">
    <button type="button" class="btn btn-primary btn-circle btn-lg" ng-class="{ 'btn-primary' : globalData.trafficStatus == 'off', 'btn-success' : globalData.trafficStatus == 'current', 'btn-warning' : globalData.trafficStatus == 'waiting', 'btn-danger' : globalData.trafficStatus == 'error' }" ng-class="{ 'active': globalData.showTraffic }" ng-click="onTrafficClicked();" title="show/hide traffic"><i class="fa fa-plane"></i></button>
</div>
<!-- meteo button -->
<div id="mapbutton-meteo" class="mapbutton-meteo" ng-show="isMeteoButtonVisible();">
    <button type="button" class="btn btn-primary btn-circle btn-lg" ng-class="{ 'btn-primary' : globalData.showMeteo == false, 'btn-success' : globalData.showMeteo == true }" ng-click="onMeteoClicked();" title="show/hide wind arrows"><img src="icon/windsock.svg?v=2" height="25" width="25" /></button>
</div>
<!-- terrain button -->
<div id="mapbutton-terrain" class="mapbutton-terrain">
    <button type="button" class="btn btn-primary btn-circle btn-lg"  ng-show="globalData.navplan.waypoints.length > 1" ng-class="{ 'btn-primary' : globalData.showTerrain == false, 'btn-success' : globalData.showTerrain == true }" ng-click="onTerrainClicked();" title="show/hide terrain"><i class="fa fa-area-chart"></i></button>
</div>
<!-- offline cache button -->
<div class="mapbutton-offlinecache" ng-show="globalData.navplan.waypoints.length > 0 || globalData.cacheStatus != 'off'">
	<button type="button" class="btn btn-primary btn-circle btn-lg" ng-class="{ 'btn-primary' : globalData.cacheStatus == 'off', 'btn-success' : globalData.cacheStatus == 'updated', 'btn-warning' : globalData.cacheStatus == 'updating', 'btn-danger' : globalData.cacheStatus == 'error' }" ng-class="{ 'active': globalData.offlineCache }" ng-click="onOfflineCacheClicked();" title="activate/deactivate offline cache"><span class="glyphicon glyphicon-cloud-download"></span></button>
</div>
<div class="progress map-cacheprogress" ng-show="globalData.cacheStatus == 'updating'">
	<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="{{ globalData.cacheProgress.loaded }}" aria-valuemin="0" aria-valuemax="{{ globalData.cacheProgress.total }}" style="width: {{ globalData.cacheProgress.percent }}%;">
		{{ globalData.cacheProgress.percent }}%
	</div>
</div>
<!-- timer -->
<div id="map_timer" class="mapbutton-timer" ng-show="globalData.showLocation" align="center" class="ng-cloak">
	<span class="map-currenttime">
		{{ globalData.timer.currentTimeString }}
	</span>
	<br />
	<button type="button" class="btn btn-primary btn-lg" ng-click="onTimerClicked();" title="start timer"><span class="glyphicon glyphicon-time"></span> Timer</button>
	<br />
	<span class="map-stoptime">
		{{ globalData.timer.stopTimeString }}
	</span>
	<br />
	<span class="map-timer">
		{{ globalData.timer.elapsedTimeString }}
	</span>
</div>
<!-- feature popup -->
<div id="feature-popup" class="ol-popup" style="visibility: hidden">
	<a href="#" id="feature-popup-closer" class="ol-popup-closer ol-popup-feature" ng-click="$event.preventDefault(); onCloseOverlayClicked();"></a>
	<div id="feature-popup-content">
		<!-- airport -->
		<div ng-show="globalData.selectedWp.airport">
			<h4>{{ globalData.selectedWp.airport.name }}<span ng-show="globalData.selectedWp.airport.icao"> ({{ globalData.selectedWp.airport.icao }})</span></h4>
			<p>{{ getAdTypeString(globalData.selectedWp.airport.type) }}</p>
			<p>{{ getPositionString(globalData.selectedWp.airport.latitude, globalData.selectedWp.airport.longitude) }}</p>
			<p>Elevation: {{ getElevationString(globalData.selectedWp.airport.elevation) }}</p>
			<p ng-show="(globalData.selectedWp.airport.runways && globalData.selectedWp.airport.runways.length > 0) || (globalData.selectedWp.airport.radios && globalData.selectedWp.airport.radios.length > 0)"><button class="btn btn-link btn-sm" ng-click="onToggleElementClicked('#ad_details')">Runways / Frequencies &raquo;</button></p>
			<div id="ad_details" class="collapse">
				<table class="table table-striped table-condensed" ng-show="globalData.selectedWp.airport.runways.length > 0">
					<tr>
						<th>Runway</th>
						<th>Surface</th>
						<th>Dimensions</th>
						<th>TORA[m]</th>
						<th>LDA[m]</th>
						<th>PAPI</th>
					</tr>
					<tr ng-repeat="runway in globalData.selectedWp.airport.runways">
						<td>{{ runway.name }}</td>
						<td>{{ runway.surface }}</td>
						<td>{{ getDimensionsString(runway) }}</td>
						<td>{{ runway.tora1 ? runway.tora1 : '-' }} / {{ runway.tora2 ? runway.tora2 : '-'  }}</td>
						<td>{{ runway.lda1 ? runway.lda1 : '-' }} / {{ runway.lda2 ? runway.lda2 : '-'  }}</td>
						<td>{{ runway.papi1 ? 'y' : '-' }} / {{ runway.papi2 ? 'y' : '-'  }}</td>
					</tr>
				</table>
				<table class="table table-striped table-condensed" ng-show="globalData.selectedWp.airport.radios.length > 0">
					<tr>
						<th colspan="2">Frequency</th>
					</tr>
					<tr ng-repeat="radio in globalData.selectedWp.airport.radios">
						<td>{{ radio.description ? radio.description : radio.type }}</td>
						<td>{{ radio.frequency }}</td>
					</tr>
				</table>
			</div>
			<p ng-show="globalData.selectedWp.airport.charts && globalData.selectedWp.airport.charts.length > 0"><button class="btn btn-link btn-sm" ng-click="onToggleElementClicked('#ad_charts')">Charts &raquo;</button></p>
			<div id="ad_charts" class="collapse">
				<p ng-repeat="chart in globalData.selectedWp.airport.charts" ng-hide="chart.source == 'VFRMxxx'">
					<button type="button" class="btn btn-info btn-circle" ng-click="onDisplayChartClicked(chart.id)"><i class="glyphicon glyphicon-file"></i></button>
					{{ chart.type }}
					<span ng-show="chart.source == 'AVARE'"><i>&copy; by <a href="http://www.avare.ch/" target="_blank">Avare.ch</a></i></span>
					<span ng-show="chart.source == 'VFRM'"><i>&copy; by <a href="https://www.swisstopo.admin.ch/" target="_blank">swisstopo</a></i></span>
				</p>
			</div>
            <div class="text-right small">
                <em><a href="http://www.openaip.net/airports?apttype_type_filter=All&country_filter=All&name_filter={{ globalData.selectedWp.airport.icao ? globalData.selectedWp.airport.icao : globalData.selectedWp.airport.name }}" target="_blank">add / correct data</a>
                <i class="glyphicon glyphicon-info-sign info-button" title="openAIP login is required for editing"></i></em>
            </div>
            <hr />
            <p ng-show="globalData.selectedWp.airport.notams.length > 0"><button type="button" class="btn btn-danger btn-circle" ng-click="onShowAirportNotams()"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></button> NOTAM</p>
			<p ng-show="globalData.selectedWp.airport.weatherInfo"><a href="#" ng-click="$event.preventDefault(); onShowMetarTaf();" class="btn btn-info btn-circle"><i class="fa fa-cloud" aria-hidden="true"></i></a> METAR / TAF</p>
            <p><a href="#" ng-click="$event.preventDefault(); onShowWeather(globalData.selectedWp.airport.latitude, globalData.selectedWp.airport.longitude, globalData.selectedWp.airport.icao ? globalData.selectedWp.airport.icao : globalData.selectedWp.airport.name);"
                  class="btn btn-info btn-circle"><i class="fa fa-cloud" aria-hidden="true"></i></a> Meteogram</p>
            <p ng-repeat="webcam in globalData.selectedWp.airport.webcams"><a href="{{ webcam.url }}" target="_blank" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-facetime-video"></i></a> {{ webcam.name }}</p>
			<hr />
            <add-to-route-directive></add-to-route-directive>
			<p ng-show="globalData.selectedWp.isNew"><button type="button" class="btn btn-warning btn-circle" ng-click="onSetAsAlternateClicked()"><i class="glyphicon glyphicon-plus"></i></button> Set as Alternate</p>
			<p ng-show="!globalData.selectedWp.isNew"><button type="button" class="btn btn-warning btn-circle" ng-click="onEditSelectedWaypointClicked()"><i class="glyphicon glyphicon-edit"></i></button> Edit Waypoint</p>
			<p ng-show="!globalData.selectedWp.isNew"><button type="button" class="btn btn-danger btn-circle" ng-click="onRemoveSelectedWaypointClicked()"><i class="glyphicon glyphicon-remove"></i></button> Remove from Route</p>
		</div>
		<!-- navaid -->
		<div ng-show="globalData.selectedWp.navaid">
			<h4>{{ globalData.selectedWp.navaid.name }} {{ globalData.selectedWp.navaid.type }} ({{ globalData.selectedWp.navaid.kuerzel }}) </h4>
			<p>Navigational Aid</p>
			<p>{{ getPositionString(globalData.selectedWp.navaid.latitude, globalData.selectedWp.navaid.longitude) }}</p>
			<p>Elevation: {{ getElevationString(globalData.selectedWp.navaid.elevation) }}</p>
			<p>Frequency: {{ globalData.selectedWp.navaid.frequency }} {{ globalData.selectedWp.navaid.unit }}</p>
			<p>Morse: <span ng-bind-html="getMorseString(globalData.selectedWp.navaid.kuerzel)"></span></p>
            <div class="text-right small">
                <em><a href="http://www.openaip.net/navaids?field_openaip_navaid_type_value_many_to_one=All&field_openaip_navaid_id_value=&field_openaip_navaid_country_value_many_to_one=All&title={{ globalData.selectedWp.navaid.name }}" target="_blank">add / correct data</a>
                    <i class="glyphicon glyphicon-info-sign info-button" title="openAIP login is required for editing"></i></em>
            </div>
			<hr />
            <add-to-route-directive></add-to-route-directive>
			<p ng-show="!globalData.selectedWp.isNew"><button type="button" class="btn btn-warning btn-circle" ng-click="onEditSelectedWaypointClicked()"><i class="glyphicon glyphicon-edit"></i></button> Edit Waypoint</p>
			<p ng-show="!globalData.selectedWp.isNew"><button type="button" class="btn btn-danger btn-circle" ng-click="onRemoveSelectedWaypointClicked()"><i class="glyphicon glyphicon-remove"></i></button> Remove from Route</p>
		</div>
		<!-- reporting point -->
		<div ng-show="globalData.selectedWp.reportingpoint">
			<h4>{{ globalData.selectedWp.reportingpoint.name }} ({{ globalData.selectedWp.reportingpoint.airport_icao }})</h4>
			<p ng-show="globalData.selectedWp.reportingpoint.type == 'POINT'">Reporting Point</p>
			<p ng-show="globalData.selectedWp.reportingpoint.type == 'SECTOR'">ARR Sector</p>
			<p ng-hide="globalData.selectedWp.reportingpoint.type == 'SECTOR'">{{ getPositionString(globalData.selectedWp.reportingpoint.latitude, globalData.selectedWp.reportingpoint.longitude) }}</p>
			<p ng-show="globalData.selectedWp.reportingpoint.min_ft || globalData.selectedWp.reportingpoint.max_ft ">Altitude:
				{{ globalData.selectedWp.reportingpoint.min_ft ? "min. " + globalData.selectedWp.reportingpoint.min_ft + "ft" : "" }}
				<span ng-show="globalData.selectedWp.reportingpoint.min_ft && globalData.selectedWp.reportingpoint.max_ft">/</span>
				{{ globalData.selectedWp.reportingpoint.max_ft ? "max. " + globalData.selectedWp.reportingpoint.max_ft + "ft" : "" }}
			</p>
			<p ng-show="globalData.selectedWp.reportingpoint.inbd_comp || globalData.selectedWp.reportingpoint.outbd_comp ">Compulsory:
				{{ globalData.selectedWp.reportingpoint.inbd_comp ? "INBD" : "" }}
				<span ng-show="globalData.selectedWp.reportingpoint.inbd_comp && globalData.selectedWp.reportingpoint.outbd_comp">&amp;</span>
				{{ globalData.selectedWp.reportingpoint.outbd_comp ? "OUTBD" : "" }}
			</p>
			<hr />
            <add-to-route-directive></add-to-route-directive>
			<p ng-show="!globalData.selectedWp.isNew"><button type="button" class="btn btn-warning btn-circle" ng-click="onEditSelectedWaypointClicked()"><i class="glyphicon glyphicon-edit"></i></button> Edit Waypoint</p>
			<p ng-show="!globalData.selectedWp.isNew"><button type="button" class="btn btn-danger btn-circle" ng-click="onRemoveSelectedWaypointClicked()"><i class="glyphicon glyphicon-remove"></i></button> Remove from Route</p>
		</div>
		<!-- user point -->
		<div ng-show="globalData.selectedWp.userWaypoint">
			<h4>{{ globalData.selectedWp.userWaypoint.name }}</h4>
			<p>User Point</p>
			<p>{{ getPositionString(globalData.selectedWp.userWaypoint.latitude, globalData.selectedWp.userWaypoint.longitude) }}</p>
			<p ng-show="globalData.selectedWp.userWaypoint.remark">Remark: {{ globalData.selectedWp.userWaypoint.remark }}</p>
                <hr />
            <p><a href="#" ng-click="$event.preventDefault(); onShowWeather(globalData.selectedWp.userWaypoint.latitude, globalData.selectedWp.userWaypoint.longitude, globalData.selectedWp.userWaypoint.name);"
                  class="btn btn-info btn-circle"><i class="fa fa-cloud" aria-hidden="true"></i></a> Meteogram</p>
			<hr />
            <add-to-route-directive></add-to-route-directive>
			<p ng-show="!globalData.selectedWp.isNew"><button type="button" class="btn btn-warning btn-circle" ng-click="onEditSelectedWaypointClicked()"><i class="glyphicon glyphicon-edit"></i></button> Edit Waypoint</p>
			<p ng-show="!globalData.selectedWp.isNew"><button type="button" class="btn btn-danger btn-circle" ng-click="onRemoveSelectedWaypointClicked()"><i class="glyphicon glyphicon-remove"></i></button> Remove from Route</p>
			<p ng-show="isLoggedIn()"><button type="button" class="btn btn-primary btn-circle" ng-click="onEditUserWaypointClicked()"><i class="glyphicon glyphicon-edit"></i></button> Edit my User Point</p>
		</div>
		<!-- geopoint -->
		<div ng-show="globalData.selectedWp.geopoint">
			<h4>{{ globalData.selectedWp.geopoint.name }}</h4>
			<p>{{ getPositionString(globalData.selectedWp.geopoint.latitude, globalData.selectedWp.geopoint.longitude) }}</p>
			<p ng-show="globalData.selectedWp.geopoint.elevation">Elevation: {{ getElevationString(globalData.selectedWp.geopoint.elevation) }}</p>
            <p ng-show="globalData.selectedWp.callsign">Callsign: {{ globalData.selectedWp.callsign}}</p>
            <p ng-show="globalData.selectedWp.freq">Frequency: {{ globalData.selectedWp.freq }}</p>
            <hr />
            <p><a href="#" ng-click="$event.preventDefault(); onShowWeather(globalData.selectedWp.geopoint.latitude, globalData.selectedWp.geopoint.longitude, globalData.selectedWp.geopoint.name);"
                  class="btn btn-info btn-circle"><i class="fa fa-cloud" aria-hidden="true"></i></a> Meteogram</p>
			<hr />
            <add-to-route-directive></add-to-route-directive>
			<p ng-show="!globalData.selectedWp.isNew"><button type="button" class="btn btn-warning btn-circle" ng-click="onEditSelectedWaypointClicked()"><i class="glyphicon glyphicon-edit"></i></button> Edit Waypoint</p>
			<p ng-show="!globalData.selectedWp.isNew"><button type="button" class="btn btn-danger btn-circle" ng-click="onRemoveSelectedWaypointClicked()"><i class="glyphicon glyphicon-remove"></i></button> Remove from Route</p>
			<p ng-show="isLoggedIn()"><button type="button" class="btn btn-primary btn-circle" ng-click="onEditUserWaypointClicked()"><i class="glyphicon glyphicon-edit"></i></button> Save to my User Points</p>
		</div>
		<!-- waypoint without feature reference -->
		<div ng-show="globalData.selectedWp && !globalData.selectedWp.airport && !globalData.selectedWp.navaid && !globalData.selectedWp.reportingpoint && !globalData.selectedWp.userWaypoint && !globalData.selectedWp.geopoint">
			<h4>{{ globalData.selectedWp.checkpoint }}</h4>
			<p>{{ getPositionString(globalData.selectedWp.latitude, globalData.selectedWp.longitude) }}</p>
			<p ng-show="globalData.selectedWp.alt">Altitude: {{ globalData.selectedWp.isminalt ? "min." : "" }} {{ globalData.selectedWp.ismaxalt ? "max." : "" }} {{ globalData.selectedWp.alt }}ft</p>
			<p ng-show="globalData.selectedWp.callsign">Callsign: {{ globalData.selectedWp.callsign}}</p>
			<p ng-show="globalData.selectedWp.freq">Frequency: {{ globalData.selectedWp.freq }}</p>
			<p ng-show="globalData.selectedWp.remark">Remarks: {{ globalData.selectedWp.remark}}</p>
            <hr />
            <p><a href="#" ng-click="$event.preventDefault(); onShowWeather(globalData.selectedWp.latitude, globalData.selectedWp.longitude, globalData.selectedWp.geopoint.checkpoint);"
                  class="btn btn-info btn-circle"><i class="fa fa-cloud" aria-hidden="true"></i></a> Meteogram</p>
			<hr />
			<p><button type="button" class="btn btn-warning btn-circle" ng-click="onEditSelectedWaypointClicked()"><i class="glyphicon glyphicon-edit"></i></button> Edit Waypoint</p>
			<p><button type="button" class="btn btn-danger btn-circle" ng-click="onRemoveSelectedWaypointClicked()"><i class="glyphicon glyphicon-remove"></i></button> Remove from Route</p>
			<p ng-show="isLoggedIn()"><button type="button" class="btn btn-primary btn-circle" ng-click="onEditUserWaypointClicked()"><i class="glyphicon glyphicon-edit"></i></button> Save to my User Points</p>
		</div>
	</div>
</div>
<!-- traffic popup -->
<div id="traffic-popup" class="ol-popup ol-popup-traffic" style="visibility: hidden">
	<a href="#" id="traffic-popup-closer" class="ol-popup-closer" ng-click="$event.preventDefault(); onCloseOverlayClicked();"></a>
	<div id="traffic-popup-content">
		<h4>{{ selectedTraffic.registration }}</h4>
		<table cellspacing="2">
			<tr>
				<td>Callsign:</td>
				<td>{{ selectedTraffic.callsign }}</td>
			</tr>
			<tr>
				<td>Model:</td>
				<td>{{ selectedTraffic.aircraftModelType }}</td>
			</tr>
			<tr>
				<td>Address:</td>
				<td>{{ selectedTraffic.acaddress }} ({{ selectedTraffic.addresstype }})</td>
			</tr>
			<tr>
				<td>Receiver:</td>
				<td>{{ selectedTraffic.receiver }}</td>
			</tr>
		</table>
		<hr />
		<p><a href="#" ng-click="$event.preventDefault(); onFollowSelectedTraffic();" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-screenshot"></i></a> Follow Aircraft on Map</p>
	</div>
</div>
<!-- NOTAM popup -->
<div id="notam-popup" class="ol-popup ol-popup-notam" style="visibility: hidden">
    <a href="#" id="notam-popup-closer" class="ol-popup-closer" ng-click="$event.preventDefault(); onCloseOverlayClicked()"></a>
    <div id="notam-popup-content">
        <h4>NOTAM <span ng-show="selectedNotam.id">{{ selectedNotam.id }}</span><span ng-show="selectedNotam.airport_icao">for {{ selectedNotam.airport_icao }} (today &amp; tomorrow)</span></h4>
        <div class="table-notam">
            <table class="table table-striped table-condensed">
                <tr ng-repeat="notam in selectedNotam.notams">
                    <td><span ng-bind-html="getFormatedNotamHtml(notam)"></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- METAR TAF popup -->
<div id="metartaf-popup" class="ol-popup ol-popup-metartaf" style="visibility: hidden">
	<a href="#" id="metartaf-popup-closer" class="ol-popup-closer" ng-click="$event.preventDefault(); onCloseOverlayClicked()"></a>
	<div id="metartaf-popup-content">
		<h4>METAR / TAF {{ selectedMetarTaf.properties.id }}</h4>
		<p ng-show="selectedMetarTaf.properties.rawOb" >
            METAR {{ selectedMetarTaf.properties.rawOb }}
            <br />
			<i>({{ getAgeString(selectedMetarTaf.properties.obsTime); }} old)</i>
		</p>
		<p ng-show="selectedMetarTaf.properties.rawTaf" >
            {{ selectedMetarTaf.properties.rawTaf }}
            <br />
			<i>({{ getTafAgeString(selectedMetarTaf); }} old)</i>
		</p>
	</div>
</div>
<!-- weather popup -->
<div id="weather-popup" class="ol-popup ol-popup-weather" style="visibility: hidden">
    <a href="#" id="weather-popup-closer" class="ol-popup-closer" ng-click="$event.preventDefault(); onCloseOverlayClicked()"></a>
    <div id="weather-popup-content">
        <h4>Meteogram <span ng-show="selectedLocationName">for {{ selectedLocationName }}</span> </h4>
        <span id="windytviframe"></span>
    </div>
</div>
<!-- map -->
<div id="map" class="map"></div>
<!-- terrain window -->
<div class="map-terrain-outerwindow" ng-show="globalData.showTerrain">
    <div id="terrainContainer" class="map-terrain-window"></div>
</div>
