<div id="waypoints">
	<a id="dlPdfLink" href="php/navplanPdf.php" target="_blank" download="navplan.pdf" ng-click="createPdfNavplan()">DL PDF</a>&nbsp;
	<a id="dlExcelLink" href="php/navplanExcel.php" target="_blank" download="navplan.xlsx" ng-click="createExcelNavplan()">DL Excel</a>
    <div>
        Select Navplan:
        <select ng-model="selectedNavplanId">
			<option ng-repeat="navplan in globalData.user.navplanList" value="{{ navplan.id }}">{{ navplan.title }}</option>
        </select>
		<button type="button" class="btn" ng-click="loadNavplan();">Load</button>
		<button type="button" class="btn" ng-click="deleteNavplan();">Delete</button>
    </div>	
    <div>
        Save Navplan:
		<input type="text" placeholder="Navplan Name" ng-model="globalData.navplan.title" />
		<button type="button" class="btn" ng-click="saveNavplan();">Save</button>
    </div>	
	
	<div class="table-responsive">
		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th>Freq</th>
					<th>Callsign</th>
					<th>Checkpoint</th>
					<th>Alt</th>
					<th>MT</th>
					<th>Dist</th>
					<th>EET</th>
					<th>Remarks</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="wp in globalData.navplan.waypoints">
					<td>{{ wp.freq }}</td>
					<td>{{ wp.callsign }}</td>
					<td>{{ wp.checkpoint }}</td>
					<td>{{ wp.alt }}</td>
					<td>{{ wp.mtText }}</td>
					<td>{{ wp.distText }}</td>
					<td>{{ wp.eetText }}</td>
					<td>{{ wp.remark }}</td>
					<td>
						<button type="button" class="btn btn-warning btn-circle" ng-click="editWaypoint(wp);"><i class="glyphicon glyphicon-edit"></i></button>
						<button type="button" class="btn btn-danger btn-circle" ng-click="removeWaypoint($index);"><i class="glyphicon glyphicon-remove"></i></button>
					</td>
				</tr>
			</tbody>			
		</table>
	</div> 	
</div>
