<div class="container nonmapcontent">
    <!-- load/save/delete route -->
	<div class="form-horizontal">
		<div class="form-group" ng-show="isLoggedIn()">
			<label for="navplan_list" class="control-label col-sm-3">Saved Routes</label>
			<div class="col-sm-6">
				<div class="input-group">
					<select id="navplan_list" class="form-control" ng-model="selectedNavplanId">
						<option value="" selected>--- Select ---</option>
						<option ng-repeat="navplan in globalData.user.navplanList" value="{{ navplan.id }}">{{ navplan.title }}</option>
					</select>
					<span class="input-group-btn">
						<button type="button" class="btn btn-success" title="Load Route" ng-click="loadNavplan();" ng-disabled="!selectedNavplanId"><i class="glyphicon glyphicon-open"></i></button>
						<button type="button" class="btn btn-danger" title="Delete Route" ng-click="deleteNavplan();" ng-disabled="!selectedNavplanId"><i class="glyphicon glyphicon-trash"></i></button>
					</span>					
				</div>
			</div>
		</div>	
		<div class="form-group">
			<label for="navplan_name" class="control-label col-sm-3">Route Name</label>
			<div class="col-sm-6">
				<div class="input-group">
					<input id="navplan_name" type="text" class="form-control" placeholder="Enter Name" ng-model="globalData.navplan.title" maxlength="50" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" title="Save Route (login required)" ng-click="saveNavplan();" ng-disabled="!globalData.navplan.title || !isLoggedIn()"><i class="glyphicon glyphicon-save"></i></button>
						<button type="button" class="btn btn-primary" title="Save Copy of Route" ng-click="saveNavplanCopy();" ng-disabled="!globalData.navplan.id || !globalData.navplan.title || !isLoggedIn()"><i class="glyphicon glyphicon-duplicate"></i></button>
					</span>
				</div>
			</div>	
		</div>	
		<div class="form-group">
			<label for="aircraft_speed" class="control-label col-sm-3">Ground Speed</label>
			<div class="col-sm-2">
				<input type="text" id="aircraft_speed" class="form-control" ng-model="globalData.aircraft.speed" placeholder="kt" maxlength="3" size="3">
			</div>
		</div>
		<div class="form-group">
			<label for="aircraft_consumption" class="control-label col-sm-3">Fuel Consumption</label>
			<div class="col-sm-2">
				<input type="text" id="aircraft_consumption" class="form-control" ng-model="globalData.aircraft.consumption" placeholder="l/h" maxlength="3" size="3">
			</div>
		</div>
	</div>
    <!-- waypoint list -->
	<div class="table-responsive">
		<table id="waypoint_list" class="table table-condensed table-hover" ui-sortable="sortableOptions" ng-model="globalData.navplan.waypoints">
			<thead>
				<tr>
					<th>Freq</th>
					<th>Callsign</th>
					<th>Checkpoint</th>
					<th>Alt</th>
					<th>MT</th>
					<th>Dist</th>
					<th>EET</th>
					<th>Remarks</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
            <!-- trip checkpoints -->
            <tbody ng-repeat="wp in globalData.navplan.waypoints as results" class="grabbable" ng-class="$index % 2 == 0 ? 'waypoint-entry-even' : 'waypoint-entry-odd'">
				<tr ng-class="{info: wp.type == 'airport' && ($first || $last) }">
					<td>{{ wp.freq }}</td>
					<td>{{ wp.callsign }}</td>
					<td>{{ wp.checkpoint }}</td>
                    <td><span ng-show="wp.isaltatlegstart">&#8739;</span><span ng-style="{ 'text-decoration': (wp.isminalt ? 'underline' : '') + (wp.ismaxalt ? ' overline' : '') }">{{ wp.alt }}</span></td>
					<td>{{ wp.mtText }}</td>
					<td>{{ wp.distText }}</td>
					<td>{{ wp.eetText }}</td>
					<td>{{ wp.remark }}</td>
					<td>
						<button type="button" class="btn btn-warning btn-circle" ng-click="editWaypoint(wp);"><i class="glyphicon glyphicon-edit"></i></button>
						<button type="button" class="btn btn-danger btn-circle" ng-click="removeWaypoint(wp);"><i class="glyphicon glyphicon-remove"></i></button>
					</td>
				</tr>
                <tr ng-show="wp.supp_info" class="active">
                    <td class="text-right  text-info"><small><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></small></td>
                    <td colspan="8" ng-class=""><em>{{ wp.supp_info }}</em></td>
                </tr>
            </tbody>
            <tbody>
				<!-- trip total -->
				<tr ng-if="results.length > 0">
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td><strong>{{ globalData.fuel.tripTime }}</strong></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<!-- alternate checkpoint -->
				<tr ng-if="globalData.fuel.alternateTime > 0">
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td><i><u>Alternate:</u></i></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr ng-if="globalData.fuel.alternateTime > 0" ng-class="{warning: true}">
					<td>{{ globalData.navplan.alternate.freq }}</td>
					<td>{{ globalData.navplan.alternate.callsign }}</td>
					<td>{{ globalData.navplan.alternate.checkpoint }}</td>
					<td><span ng-show="globalData.navplan.alternate.isaltatlegstart">&#8739;</span><span ng-style="{ 'text-decoration': (globalData.navplan.alternate.isminalt ? 'underline' : '') + (globalData.navplan.alternate.ismaxalt ? ' overline' : '') }">{{ globalData.navplan.alternate.alt }}</span></td>
					<td>{{ globalData.navplan.alternate.mtText }}</td>
					<td>{{ globalData.navplan.alternate.distText }}</td>
					<td>{{ globalData.navplan.alternate.eetText }}</td>
					<td>{{ globalData.navplan.alternate.remark }}</td>
					<td>
						<button type="button" class="btn btn-warning btn-circle" ng-click="editWaypoint(globalData.navplan.alternate);"><i class="glyphicon glyphicon-edit"></i></button>
						<button type="button" class="btn btn-danger btn-circle" ng-click="removeAlternate();"><i class="glyphicon glyphicon-remove"></i></button>
					</td>
				</tr>
				<!-- empty list -->
				<tr ng-if="results.length == 0">
					<td colspan="9"><i>Empty route, add waypoints on the map.</i></td>
				</tr>
			</tbody>			
		</table>
        <!-- reverse waypoints button -->
        <!--<div class="form-inline">-->
            <div class="form-group pull-right">
                <a href="#" class="btn btn-default" title="Reverse Waypoint Order" ng-click="$event.preventDefault(); onReverseWaypointsClicked();"><i class="glyphicon glyphicon-sort"></i><span class="hidden-sm hidden-xs"> Reverse Waypoints</span></a>&nbsp;
            </div>
        <!--</div>-->
    </div>
        <!-- reverse waypoints button -->
    <!--<div class="form-horizontal">
        <div class="form-group pull-right">
            <a href="#" class="btn btn-default" title="Reverse Waypoint Order" ng-click="$event.preventDefault(); onReverseWaypointsClicked();"><i class="glyphicon glyphicon-sort"></i><span class="hidden-sm hidden-xs"> Reverse Waypoints</span></a>&nbsp;
        </div>
    </div>-->
    <!-- comments & fuel section -->
    <div class="row">
        <!-- comments -->
        <div class="form-group" style="margin-bottom: 0px">
            <label for="comments" class="control-label col-sm-1">Comments:</label>
            <div class="col-sm-6">
                <textarea id="comments" class="form-control" ng-model="globalData.navplan.comments" rows="6" maxlength="2048"></textarea>
            </div>
        </div>
        <!-- fuel calculation -->
        <!--<div class="form-group">-->
            <div id="fuel" class="col-sm-5">
                <table class="table table-condensed table-bordered table-striped table-nonfluid">
                    <thead>
                    <tr>
                        <th>Fuel Calculation</th>
                        <th>Time</th>
                        <th>Fuel</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Trip</td>
                        <td><span ng-show="globalData.fuel.tripTime > 0">{{ formatHourMin(globalData.fuel.tripTime) }}</span></td>
                        <td><span ng-show="globalData.fuel.tripTime > 0">{{ fuelByTime(globalData.fuel.tripTime) }}</span></td>
                    </tr>
                    <tr>
                        <td>Alternate</td>
                        <td><span ng-show="globalData.fuel.alternateTime > 0">{{ formatHourMin(globalData.fuel.alternateTime) }}</span></td>
                        <td><span ng-show="globalData.fuel.alternateTime > 0">{{ fuelByTime(globalData.fuel.alternateTime) }}</span></td>
                    </tr>
                    <tr>
                        <td>Reserve</td>
                        <td>{{ formatHourMin(globalData.fuel.reserveTime) }}</td>
                        <td>{{ fuelByTime(globalData.fuel.reserveTime) }}</td>
                    </tr>
                    <tr>
                        <td>Minimum</td>
                        <td><span ng-show="globalData.fuel.tripTime > 0 || globalData.fuel.alternateTime > 0">{{ formatHourMin(globalData.fuel.tripTime + globalData.fuel.alternateTime + globalData.fuel.reserveTime) }}</span></td>
                        <td><span ng-show="globalData.fuel.tripTime > 0 || globalData.fuel.alternateTime > 0">{{ fuelByTime(globalData.fuel.tripTime + globalData.fuel.alternateTime + globalData.fuel.reserveTime) }}</span></td>
                    </tr>
                    <tr>
                        <td>Extra fuel</td>
                        <td><input id="extraFuelInput" type="text" class="form-control" maxlength="3" size="3" ng-model="globalData.fuel.extraTime"></td>
                        <td><span ng-show="globalData.fuel.extraTime * 1 > 0">{{ fuelByTime(globalData.fuel.extraTime) }}</span></td>
                    </tr>
                    <tr>
                        <td><b>Block fuel</b></td>
                        <td><span ng-show="globalData.fuel.tripTime > 0 || globalData.fuel.alternateTime > 0"><b>{{ formatHourMin(globalData.fuel.tripTime + globalData.fuel.alternateTime + globalData.fuel.reserveTime + globalData.fuel.extraTime * 1) }}</b></span></td>
                        <td><span ng-show="globalData.fuel.tripTime > 0 || globalData.fuel.alternateTime > 0"><b>{{ fuelByTime(globalData.fuel.tripTime + globalData.fuel.alternateTime + globalData.fuel.reserveTime + globalData.fuel.extraTime * 1) }}</b></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <!--</div>-->
    </div>
    <!-- download pdf / excel buttons -->
	<div class="form-inline">
		<div class="form-group">
			<a id="dlPdfLink" href="#" class="btn btn-danger" title="Print Navigation Log as PDF" ng-click="$event.preventDefault(); createPdfNavplan();"><i class="glyphicon glyphicon-print"></i> Print PDF</a>&nbsp;
			<a id="dlExcelLink" href="#" class="btn btn-success" title="Export Navigation Log as Excel" ng-click="$event.preventDefault(); createExcelNavplan();"><i class="fa fa-file-excel-o"></i>&nbsp;Excel Export</a>&nbsp;
		</div>
	</div>
</div>
